body {
  margin: 0;
  font-family: "Georgia", serif;
  background: #FFF8DC; /* bege suave */
  color: #3a3a3a;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #40E0D0; /* turquesa suave */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff; /* dourado */
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #f0c862; /* dourado suave */
}

/* Hero */
.hero {
  height: 80vh;
  background: url('imagens/principal.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .overlay {
  background: rgba(255, 255, 255, 0.546);
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
  color: #2c2c2c;
}

section {
  padding: 60px 20px;
}

p{
  font-size: 1.2rem;
}

h2 {
  color: white;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contador {
  height: 80vh;
  background: url('imagens/secundaria') center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempo {
  background: rgba(255, 255, 255, 0.7); /* branco gelo translúcido */
  border-radius: 12px;
  padding: 20px;
  font-size: 1.2rem;
  color: #1CA9C9; /* azul oceano */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#cad{
  max-width: 25px;
  padding: 10px;
}

/* Galeria */

#fotos {
  min-height: 100vh;
  height: auto;

  background: url('imagens/terceira') center no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 80px 0;
}

.overlay-fotos {
  background: rgba(255, 255, 255, 0.7);

  width: 90%;
  height: auto;

  border-radius: 12px;
  padding: 30px;

  color: #1CA9C9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carrossel{
    display: flex;

    gap: 1.2rem;

    width: 100%;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;

    padding-bottom: 10px;
}

.card{
    width: 715px;
    height: 450px;

    flex-shrink: 0;

    border-radius: 25px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    scroll-snap-align: center;
}


/* responsividade: botões menor em telas pequenas */
.card{

    width: clamp(220px, 80vw, 715px);

    aspect-ratio: 16 / 10;

    flex-shrink: 0;

    border-radius: 25px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    scroll-snap-align: center;
}

@media (max-width: 580px) {

  .carrossel{
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    overflow-y: visible;
  }
}


/* Rodapé */
footer {
  background: #40E0D0;
  color: white;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: 40px;
}
